version: "3.9"

services:
  app:
    build: .
    container_name: fastapi_app
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - /app/.venv
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - fastapi_network
    environment:
      - APP_NAME=TRAVEL_APP
      - APP_ENV=development
      - APP_HOST=0.0.0.0
      - APP_PORT=8000
      - DATABASE_URL=postgresql+asyncpg://postgres:password@postgres:5432/travel_db

  postgres:
    image: postgres:16
    container_name: fastapi_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: travel_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d travel_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - fastapi_network

volumes:
  postgres_data:

networks:
  fastapi_network:
